/** home_page css*/
.homepage {
  background: #f6ebda;
}
.homepage .service_frame {
    width: 100%;
    background: rgba(63 99 63);
    /* border: 1px solid red; */
    height: 160px;
   }

  .service_frame .service_box {
    width: 300px;
    height: 86px;
    margin-left: 20px;
    display: flex;
    /* border: 1px solid red; */
    flex-direction: row;
   }
  .homepage .service_box img {
    width: 35px;
    height: 35px;
    margin-top: 15px;
   }
  .homepage .service_box .service_content {
    margin-left: 14px;
    display: flex;
    flex-direction: column;
   }
  .homepage .service_content span {
    font-family: "Jost";
    font-style: normal;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px; 
    color:  #ffe605;
   }
  .homepage .service_content p {
    color:  #ffffff;
    font-family: Jost;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px
   }

   .homepage .top_shops_frame {
    width: 100%;
    height: 650px;
    display: flex;
    background: #f6ebda;
    /* border: 1px solid red; */
   }

   .homepage .category_title {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 100;
    font-size: 36px;
    line-height: 42px;

    color: #1c4a2c;
   }

   .homepage .new_arrival_frame {
    width: 100%;
    height: 755px;
    display: flex;
    background: #f6ebda;
   }

