.format.home_navbar {
    width: 100%;
    height: auto;
    object-fit: contain;
    background: #ded7c5;
    display: flex;
    background: url("/public/shops/pexels-tima-miroshnichenko-6766294.jpg");
    background-size: cover;
} 

.format_shop.home_navbar {
    width: 100%;
    height: 700px;
    object-fit: contain;
    background: #ded7c5;
    display: flex;
    background: url("/public/shops/pexels-pixabay-325876.jpg");
    background-size: cover;
} 

.format_others.home_navbar {
    width: 100%;
    height: 700px;
    object-fit: contain;
    background: #ded7c5;
    display: flex;
    background: url("/public/others/pexels-gustavo-fring-6284875.jpg");
    background-size: cover;
} 

.home_navbar .navbar_config {
    width: 1244.69px;
    height: 46px;
    margin-left: 26px;
    margin-top: 55px;
}

.home_navbar .sizer_style .img {
    width: 35.562px;
    height: 20.13px;
    justify-content: space-between;
    transform: rotate(-90deg);
    flex-shrink: 0;
}

.home_navbar .navbar_links_1 {
    width: 600px;
    height: 46px;
    /* border: 1px solid red; */
}

.home_navbar .navbar_links_2 {
    width: 317px;
    height: 46px;
    /* border: 1px solid blue; */
}

.home_navbar .search_icon_box {
    width: 23px;
    height: 23px;
    flex-shrink: 0;   
}

.home_navbar .img_search {
    width: 23px;
    height: 23px;
    flex-shrink: 0;
}

.home_navbar a {
    text-decoration: none;
    color: #FFF;

    font-family: "Futura PT";
    font-size: 14px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
    letter-spacing: 2.1px;
    text-transform: uppercase;
}
  
.home_navbar .hover-line a {
    color: #fefefe;
}
  
.home_navbar .underline {
    display: block;
    content: "";
    border-bottom: solid 2px #d7b686;
}
  
.home_navbar .hover-line:after {
    display: block;
  
    content: "";
    border-bottom: solid 2px #d7b686;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}

.home_navbar .head_information {
    display: flex;
    flex-direction: row;
    margin-top: 180px;
    width: 1255px;
    height: 477px;
}

.home_navbar .usman_text {
    color: #080700;

    font-family: "Futura PT";
    font-size: 50px;
    margin-left: 708px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
}

.home_navbar .men_fabric {
    margin-left: 713px;
}

.home_navbar .date_of_establishment {
    position: relative;
    width: 94px;
    height: 32px;
    margin-top: 14px;
    margin-left: 856px;

    font-family: "Poppins";
    font-style: normal;
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    color: #f8ea56;
}

/* .home_navbar .memo_information {
    position: relative;
    width: 367px;
    height: 61px;
    margin-top: 30px;
    margin-left: 883px;

    font-family: "Furura PT";
    font-style: normal;
    font-size: 30px;
    font-weight: 300;
    line-height: 30px;
    color: #fe0000;
} */


/* .home_navbar .big_img {

} */

  
