/* ORDERS PAGE */
.order_page {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    background: #0b0e11;
  }
  
  /* 1/2 Stack: ORDER LEFT */

  .order_page .order_left {
    width: 70%;
    height: auto;
    margin: 0 55px;
  }
  
  .order_page .order_left .order_nav_frame {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
  }
  
  .order_page .order_left .order_main_content {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
  }
  
  /* 2/2 Stack: ORDER RIGHT */
  .order_page .order_right {
    width: 30%;
    height: auto;
    margin-top: 86px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
  }
  
  /* 2.1 Personal info */
  .order_page .order_right .order_info_box {
    width: 372px;
    height: 308px;
    padding: 20px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
      inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
      inset 0px 4px 16px 0px rgba(242, 189, 87, 0.04);
  }
  
  .order_info_box .order_user_img {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 117px;
    height: 112px;
  }
  .order_info_box .order_user_img img:first-child {
    width: 100%;
    height: 100%;
    background-size: cover;
    border-radius: 17px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
  
  .order_right .info_box_item .order_user_img  img:nth-child(2) {
    position: absolute;
    width: 30px;
    height: 30px;
    bottom: 0;
    right: 0;
  }
  
  .order_page .order_info_box .order_user_img img {
    position: absolute;
    border-radius: 35px;
    background: rgba(0, 0, 0, 0.33);
    padding: 5px;
    right: -5%;
    bottom: -5%;
  }
  
  .order_page .order_info_box .order_user_name {
    width: 238px;
    height: 37px;
    color: #08090d;
    font-family: Commissioner;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px;
    margin-top: 18px;
    text-align: center;
  }
  
  .order_page .order_info_box .order_user_prof {
    color: #a1a1a1;
    font-family: Commissioner;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px; /* 180% */
    margin: 0;
  }
  
  .order_page .order_info_box .order_user_address {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
  }
  
  /* 2.2 Card info */
  .order_page .payment_box {
    width: 372px;
    height: 251px;
    border-radius: 16px;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    padding: 20px;
  }
  
  .order_page .payment_box input {
    outline: none;
    border: none;
    height: 40px;
    width: 100%;
    background: rgba(0, 0, 0, 0.05);
    font-family: Commissioner;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px; /* 240% */
    margin-bottom: 10px;
    border-radius: 5px;
    padding-left: 15px;
  }
  
  .order_page .payment_box .form_divider {
    display: flex;
    gap: 10px;
  }
  
  .order_page .payment_box .card_types {
    position: relative;
  
    margin-top: 30px;
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }
  
  .order_page .payment_box .card_types .card {
    width: 40px;
    height: 30px;
    position: relative;
  }
  
  /* ***  Components -> Orders ->  3 components    *** */
  .order_page .order_main_box {
    max-height: 284px;
    width: 821px;
    border-radius: 16px;
    background: #fff;
    box-shadow: 0px 4px 16px 0px rgba(242, 189, 87, 0.04) inset,
      0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset,
      0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    padding: 10px 0;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  /* order_box_scroll */
  .order_main_box .order_box_scroll {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
  }
  
  .order_main_box .order_box_scroll .ordersName_price {
    display: flex;
    width: 70%;
    height: 50px;
    align-items: center;
    max-height: 203px;
  }
  
  .order_main_box .order_box_scroll .ordersName_price .orderDishImg {
    width: 50px;
    height: 47px;
  }
  
  .order_main_box .order_box_scroll .ordersName_price .titleDish {
    color: #000;
    font-family: Commissioner;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    margin-left: 20px;
    margin-right: 70px;
  }
  
  .order_main_box .order_box_scroll .ordersName_price .priceBox {
    margin: auto;
    display: flex;
    justify-content: space-between;
  }
  
  /* total_price_box */
  .order_main_box .total_price_box {
    width: 100%;
    height: auto;
    margin: auto;
    flex-direction: row;
    border-radius: 5px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
  }
  
  .order_page .total_price_box span:nth-child(1) {
    color: #000;
    text-align: center;
    font-family: Commissioner;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px; /* 257.143% */
    margin-left: 5px;
  }
  
  .order_page .total_price_box span:nth-child(2) {
    color: #262626;
    text-align: center;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 5px;
  }
  
  .order_main_box .total_price_box .order_cancel {
    border-radius: 10px;
    border: 1px solid #d10202;
    background: #d10202;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
      0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    color: #fff;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-right: 13px;
  }
  
  .order_main_box .total_price_box .order_pay {
    border-radius: 10px;
    border: 1px solid #0288d1;
    background: #0288d1;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
      0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    color: #fff;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  
  /* Component 1: Paused */
  .order_page .paused {
    background: rgba(217, 217, 217, 0.5);
  }
  
  /* Component 2: Process */
  .order_page .process {
    background: rgba(140, 102, 242, 0.81);
  }
  
  .order_page .process .order_complete {
    border-radius: 10px;
    border: 1px solid #0288d1;
    background: #0288d1;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
      0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    color: #fff;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-left: 8px;
  }
  
  /* Component 3: Finish */
  .order_page .finished {
    background: #ff3434;
  }